:root {
    --bg-color: #444444;
    --border-color: #FFFFFF1A;
    --text-color: #FFFFFF;
    --font-family: 'Inter', sans-serif;
    --base-font-size-desktop: 15px; 
    --base-font-size-mobile: 12px;
}

body {
    margin: 0;
    font-family: var(--font-family);
    background-color: var(--bg-color);
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    min-height: 100vh;
    padding: 20px; 
    box-sizing: border-box; 
}

.main-container {
    background-color: var(--bg-color);
    border: 1px solid var(--border-color);
    border-radius: 2px;
    width: 100%;
    max-width: 1200px; 
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    overflow: hidden; 
}

.content-wrapper {
    display: flex; 
    flex-wrap: wrap; 
}

.text-section {
    flex: 1; 
    min-width: 300px; 
    padding: 20px;
    box-sizing: border-box;
}

.text-section h2 {
    font-family: var(--font-family);
    font-weight: 600; 
    font-size: var(--base-font-size-desktop);
    line-height: 120%;
    color: var(--text-color);
    margin-top: 20px;
    margin-bottom: 5px;
}

.text-section ul {
    list-style: disc; 
    margin-left: 20px; 
    padding: 0;
    margin-bottom: 20px;
}

.text-section ul li {
    font-family: var(--font-family);
    font-weight: 600; 
    font-size: var(--base-font-size-desktop); 
    line-height: 120%;
    letter-spacing: 0%;
    color: var(--text-color);
    margin-bottom: 8px; 
}

.text-section .level-title {
    font-weight: 600; 
}

.text-section ul li br {
    display: none;
}


.image-section {
    flex: 2;
    min-width: 400px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 25px;   
    column-gap: 5px; 
    box-sizing: border-box;
    align-content: start;
}

.image-section img {
    width: 100%;
    height: auto;
    max-width: 160px;
    max-height: 130px;
    object-fit: contain;
    display: block;
    margin: 0 auto;
    opacity: 1;
}

@media (max-width: 768px) {
    .content-wrapper {
        flex-direction: column;
    }

    .text-section, .image-section {
        min-width: unset;
        flex: unset;
    }

    .text-section h2,
    .text-section ul li {
        font-size: var(--base-font-size-mobile);
    }

    .image-section {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        row-gap: 15px;
        column-gap: 5px;
        padding-top: 0;
    }
}

@media (max-width: 480px) {
    .image-section {
        grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
        row-gap: 10px; 
        column-gap: 5px; 
    }
}